{% extends 'layout.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="top-container jumbotron p-1 p-sm text-white rounded">
            <div class="col d-flex justify-content-center">
                <h1 class="display-4 font-weight-bold">{{ constants.TENNIS_TITLE}}</h1>
            </div>
            <div class="col d-flex justify-content-center" style="margin: 5px">
                <h2>{{ constants.TENNIS_TITLE_TEXT_1 }}</h2>
            </div>
            <div class="col d-flex justify-content-center">
                <img class="card-img-right flex-auto d-none d-lg-block" style="border-radius: 5px" src="/images/foto2.jpg">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card  ">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-2 text-primary ">{{ constants.TENNIS_STAFF }}</h3>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="/images/logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-start">

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
